
@{
    ViewBag.Title = "Sales";
}

<h2>Oversigt</h2>

@section SaleSection 
    {
    <div>
        Denne tekst forklarer, hvordan Sale fungerer
    </div>
    }
<h2>
    Dette er så slut på oversigt
</h2>
